name: Docker Image CI

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build Docker image
        run: |
          TAG=$(date +%s)
          docker build . \
            --file Dockerfile \
            --tag ionlz/telegram-zao-bot:$TAG \
            --tag ionlz/telegram-zao-bot:latest
          echo "IMAGE_TAG=$TAG" >> $GITHUB_ENV

      - name: Push Docker image
        run: |
          docker push ionlz/telegram-zao-bot:${IMAGE_TAG}
          docker push ionlz/telegram-zao-bot:latest
